/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img{
    position: relative;
    float: left;
}
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
#header{
    width: 100%;
    background: url('../img/header-bg.png');
    height: 140px;
    position: fixed;
    margin-top: 10px;

}

.text{
    position: relative;
    margin-left: 10px;
    padding: 0 10px 0 10px;
    font-size: 25px;
    text-align: justify;
}

.word {
    width: 15rem;
    margin-top: 5px;
}

.js-animate .st0{
    animation: biggify 250ms 2 alternate;
}

    
#ifyoudie{
    animation-delay:  250ms;
}
#dont{
    animation-delay:  500ms;
}
#flecha{
    animation-delay:  750ms;
}
#said{
    animation-delay:  1000ms;
}
#puntos{
    animation-delay:  1250ms;
}
@keyframes biggify{
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.5);
    }
}


body{
    margin: 0;
    padding: 0;
    width: 100%;
}

p{
    font-family: 'Josefin Slab', serif;
    font-weight: normal;
    font-size: 30px;
    text-align: center;
    color: black;
    margin; 0;
    padding:  0;
}


.story2{
    display: block;
    margin: 0 auto;
    opacity:  0;
    transition: all 200ms ease-in;
}

.js-story2-animate{
    opacity:  1;
    animation: story2-jiggle 250ms linear;
}

@keyframes story2-jiggle{
    0%{
        transform:  rotate(0);
    }
    33%{
        transform: rotate(15deg);
    }
     66%{
        transform: rotate(-15deg);
    }
      100%{
        transform: rotate(0);
    }
}

.story4{
    display: block;
    margin: 0 auto;
    opacity:  0;
    transition: all 200ms ease-in;
}

.js-story4-animate{
    opacity:  1;
    animation: story4-jiggle 250ms linear;
}

@keyframes story4-jiggle{
    0%{
        transform:  skew(0);
    }
    33%{
        transform: skew(15deg);
    }
     66%{
        transform: skew(-15deg);
    }
      100%{
        transform: skew(0);
    }
}
.story5{
    display: block;
    margin: 0 auto;
    opacity:  0;
    transition: all 200ms ease-in;
}

.js-story5-animate{
    opacity:  1;
    animation: story4-jiggle 250ms linear;
}

@keyframes story5-jiggle{
    0%{
        transform:  rotate(0);
    }
    33%{
        transform: rotate(15deg);
    }
     66%{
        transform: rotate(-15deg);
    }
      100%{
        transform: rotate(0);
    }
}

.center {
    margin; 0 auto;
}

.content{
    margin: 0 auto;
    width: 960 px;
    padding: 0 150px 0 150px;
}

.clear{
    clear: both;
}

.story_container{
    font-family: 'Josefin Slab', serif;
    font-weight: normal;
    font-size: 30px;
    text-align: left;
    margin: 50px auto;
}



#slide1, #slide2 { width: 100% }


#slide1, #slide2{ width: 100%; }

#slide1{
background:url('../img/background_kraft.jpg') 50% 0 no-repeat fixed;
color: #fff;
height: 400px;
margin: 0;
padding: 150px 0 100px 0;
background-size: cover;
}
#slide2{
background-color: #fff;
color: #333333;
height: 300px;
margin: 0 auto;
overflow: hidden;
padding: 100px 0;
}
#slide3{
background: url(../img/background_kraft.jpg) 50% 0 no-repeat fixed;
color: #fff;
height: 300px;
padding: 50px 0 0 0;
background-size: cover;
}
#slide4{
background-color: #fff;
color: #333333;
height: 300px;
padding: 80px 0;
}
#slide5{
background: url(../img/background_kraft.jpg) 50% 0 no-repeat fixed;
height: 350px;
margin: 0 auto;
padding: 50px 0;
color: #fff;
background-size: cover;
}



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}